<!DOCTYPE html>
<html>
  <head>
    <title>TheSandbox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="uk-flex uk-flex-center uk-flex-middle">
    <%= yield %>
  </body>
</html>
